h1 {
    font-family: Montserrat;
    font-size: 64px;
    color: #ffffff;
	margin-left: 10px;
	text-transform:uppercase;
}

h2:not(#projects h2) {
    font-family: Montserrat;
    font-size: 24px;
    font-style: none;
    color: #6f6f6f;
	margin-left: 10px;
}

h1 + h2 {
    margin-top: -3rem;
}

body {
    background-color: #000000;
	border: 0.5px solid rgb(255, 255, 255);
}

.banner {  overflow: auto; position:relative }
.banner ul {padding-left: 0;}
.banner li { list-style: none; }
.banner ul li { float: left; }

.banner .project {
		background-size: 200px 200px !important;
		height: 200px;
		float: none;
		position: relative;
		margin: 0 auto;
		transition: 0.5s ease;
		overflow:visible;
}    	
.banner h3, .banner h4 {
	text-align: center;
  	font-family: Montserrat;
	font-size: 20px;
	text-transform: uppercase;
	color: #b4b4b4;
}
.banner h3 {
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 5px;
}
.banner h4 span {
	text-transform:uppercase;
    letter-spacing: 1px;
	font-size: 22px;
}
.banner .project.qr-logo { background: url("/img/QR_gray.png") no-repeat center center; }
.banner .project.ls-logo { background: url("/img/LS_gray.png") no-repeat center center; }
.banner .project.tba1-logo { background: url("/img/TBA_gray.png") no-repeat center center; }
.banner .project.tba2-logo { background: url("/img/TBA_gray.png") no-repeat center center; }
	
.banner .project.qr-logo:hover { background: url("/img/QR_color.png") no-repeat center center; }
.banner .project.ls-logo:hover { background: url("/img/LS_color.png") no-repeat center center; }
.banner .project.tba1-logo:hover { background: url("/img/TBA_color.png") no-repeat center center; }
.banner .project.tba2-logo:hover { background: url("/img/TBA_color.png") no-repeat center center; }
	
li:nth-child(1), li:nth-child(2) { width: 100%; }
	.banner .project-group .quartcol { 
		float: left;
		margin-left: 2.5%;
		width: 23%;
	}
.banner .project-group .first {
		clear: both;
		margin-left: 0;
	}
	
@media only screen and (max-width: 1200px) {
		.banner .project {
			background-size: 125px 125px !important;
			height: 125px;
		}
	}
@media only screen and (max-width: 890px) {
		.banner .project {
			background-size: 200px 200px !important;
			height: 200px;
		}
		.banner .project-group .quartcol { 
			float: left;
			margin-left: 2.5%;
			width: 48.%;
		}
		.banner .project-group .first, .banner .project-group .quartcol:nth-child(4) {
			clear: both;
			margin-left: 0;
		}
	}
@media only screen and (max-width: 500px) {
		.banner .project-group .quartcol {
			width: 100%;
			clear: both;
			margin: 20px 0;
		}
	}